<?xml version="1.0" encoding="UTF-8"?>
<model>
    <name>ergoCubGazeboV1_modified</name>
    <version>1.0</version>
    <sdf version='1.7'>model.urdf</sdf>
    <author>
        <name>VL edited from Nicolo' Genesio</name>
    </author>
    <description>Model for the ergoCub humanoid robot.</description>
</model>
